{% extends '::base.html.twig' %}
     
     {% block stylesheets %}
          {% stylesheets 'bundles/dshstreetpics/css/streetpics.css' filter='cssrewrite' %}      
             <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
          {% endstylesheets %}
	    		    <div class="filmspace">
					    <div class="film_strip">
					        <img class="photosinstylesheet" src="{{ asset('images/babyface.gif') }}" alt="babyface" />				  
					        <img class="photosinstylesheet" src="{{ asset('images/daisybaby.gif') }}" alt="books" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/buddha.gif') }}" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/zachlookpops.gif') }}" alt="zachlookpops" width="394" height="263" />" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/fairswings.gif') }}" alt="fairswings" width="263" height="176" />') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/books.gif') }}" alt="books" width="263" height="176" />" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/lowsunriver.gif') }}" alt="rainbow" width="263" height="176" />" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/rainbow.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/zachlookpops.gif') }}" alt="babyface" width="263" height="176"/>
					    </div>					    
					</div>
					
	  
	  {% endblock %}



