{% extends '::base.html.twig' %}
     
     {% block stylesheets %}
          {% stylesheets 'bundles/dshstreetpics/css/streetpics.css' filter='cssrewrite' %}      
             <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
          {% endstylesheets %}
     {#  {% endblock %}  #} 
    
    
    
{#
   
     {% block stylesheets %}
     {{ parent() }}
          <link href="{{ asset('bundles/dshstreetpics/css/streetpics.css') }}" rel="stylesheet" />
     {% endblock %} 
    
#}
     
          
  {#    {% block dazfilmstrip %} #}
          {#  <link href="{{ asset('bundles/dshstreetpics/css/streetpics.css') }}" rel="stylesheet" /> #}
	 
	   {# {% image '@DshstreetpicsBundle/Resources/public/images/*.jpg' %} #}   	         
	    		    <div class="filmspace">
					    <div class="film_strip">
					        <img class="photosinstylesheet" src="{{ asset('images/babyface.gif') }}" alt="babyface" width="263" height="176"/>					  
					        <img class="photosinstylesheet" src="{{ asset('images/books.gif') }}" alt="books" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/buddha.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/daisybaby.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/fairswings.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/floatingman.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/lowsunriver.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/rainbow.gif') }}" alt="babyface" width="263" height="176"/>
					        <img class="photosinstylesheet" src="{{ asset('images/zachlookpops.gif') }}" alt="babyface" width="263" height="176"/>
					    </div>					    
					</div>
		{# {% endimage %} #}			
	  
	  {% endblock %}
	  

	


  

			
					
        

					    
{#
           {% block filmstrip %}            
	            {% image '@DshstreetpicsBundle/Resources/public/images/filmstrip.gif' %}
	                   <img src="{{ asset_url }}" alt="Example" />
	            {% endimage %}            
           {% endblock %}  
#}      
       
    
    
{#
      {% block somerandomname %}
           {% include ('DshstreetpicsBundle:Default:Subfolder/Secondfolder/sub.html.twig') %}   	   
           <div> somerandomname block content from index.html.twig </div>       
      {% endblock %}
#}
       
{#        <img class="photosinstylesheet" src="{{ asset('images/zachlookpops.gif') }}" alt="babyface" width="263" height="176"/>      #}


